body{
background:#222;
color:white;
text-align:center;
}

#tabuleiro{
display:grid;
grid-template-columns:repeat(3,100px);
gap:5px;
justify-content:center;
}

.casa{
width:100px;
height:100px;
background:white;
color:black;
font-size:60px;
display:flex;
justify-content:center;
align-items:center;
cursor:pointer;
}
